html{
  /* background: black; */
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container{
  height: 600px;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 10%;
  /* margin: -150px 0 0 -150px; */
}

.square{
  height: 90%;
  width: 90%;
  /* background: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45% 0 0 -45%;
}

.blackr{
  background: url(rabbit.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: rotate 10s infinite linear;
}


.black{
  background: url(Ei-heart.svg);
  background-size: 100%;
  animation: rotate 10s infinite linear;
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
